#drag-box {
  box-sizing: border-box;
  min-height: 100px;

  border: 1px solid red;
  border-radius: 5px;

  text-align: center;
}

#output-box {
  box-sizing: border-box;
  min-height: 100px;

  border-radius: 5px;

  text-align: center;
  transition: .5s background linear;
}

#output-box.loading {
  background: grey;
}

#img-preview,
#img-output {
  margin: 20px 0;
  box-sizing: border-box;
  border: 3px dotted black;
  background-image: url('../imgs/check.png');
}

img {
  max-width: 100%;
}
