<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- bootstrap cdn -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" media="all">
    <link rel="stylesheet" href="{{url_for('static', filename='css/master.css')}}" type="text/css" media="all" charset="utf-8">

    <title>Image manipulation</title>
  </head>
  <body>
    <header class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <span class="navbar-brand">Image manipulator</span>
      </div>
    </header>

    <div class="container">

      <section id="input">
        <h1>Input</h1>
        <div class="bg-info" id="drag-box">
          <p class="text-info">Drag image here or upload file</p>
          <input class="form-control" id="input-file" type="file">
        </div>
      </section>

      <section id="controls">
        <h1>Controls</h1>
        <form class="form-inline" action="{{url_for('do_filter')}}" enctype="multipart/form-data" id="main-form">
          <label for="filter-name">Filter name</label>
          <select class="form-control" id="filter-name" name="filtername">
            {%for filter in get_filters()%}
            <option name="{{filter}}">{{filter}}</option>
            {%endfor%}
          </select>

          <label>
            <input class="form-control" id="builtin" name="builtin" type="checkbox"> Use builtin method
          </label>

          <button class="form-control" type="submit">OK</button>
        </form>
      </section>

      <section id="output">
        <h1>Output</h1>
        <div id="output-box">
        </div>
      </section>
    </div>

    <!-- bootstrap cdn -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!--script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script-->

    <!-- main script -->
    <script type="text/javascript">
      var GET_IMG_URL = "{{ url_for('get_image') }}";
    </script>
    <script src="{{url_for('static', filename='js/master.js')}}" type="text/javascript"></script>
  </body>
</html>

